<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>U</key>
    <dict>
      <key>public.kern2.m</key>
      <integer>-20</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>public.kern2.f</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
    </dict>
    <key>ampersand</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-40</integer>
    </dict>
    <key>l</key>
    <dict>
      <key>periodcentered</key>
      <integer>-10</integer>
    </dict>
    <key>periodcentered</key>
    <dict>
      <key>l</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.1</key>
      <integer>-60</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.Oalt</key>
      <integer>-20</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.U</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.Valt</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.f</key>
      <integer>-60</integer>
      <key>public.kern2.mid</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.question</key>
      <integer>-40</integer>
      <key>public.kern2.top</key>
      <integer>-40</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.f</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.J</key>
      <integer>-60</integer>
      <key>public.kern2.down</key>
      <integer>-60</integer>
      <key>public.kern2.g</key>
      <integer>-80</integer>
      <key>public.kern2.m</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>four.ss01</key>
      <integer>-10</integer>
      <key>periodcentered</key>
      <integer>-60</integer>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.Oalt</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.U</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
      <key>public.kern2.f</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.top</key>
      <integer>-80</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.Valt</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-50</integer>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.Oalt</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.Valt</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.J</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
      <key>public.kern2.down</key>
      <integer>-60</integer>
      <key>public.kern2.g</key>
      <integer>-20</integer>
      <key>public.kern2.m</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>m</key>
      <integer>-30</integer>
      <key>public.kern2.4</key>
      <integer>-40</integer>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>40</integer>
      <key>public.kern2.X</key>
      <integer>30</integer>
      <key>public.kern2.down</key>
      <integer>-20</integer>
      <key>public.kern2.f</key>
      <integer>-50</integer>
      <key>public.kern2.k</key>
      <integer>-20</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>seven.ss01</key>
      <integer>40</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <integer>-40</integer>
      <key>public.kern2.Oalt</key>
      <integer>-20</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.down</key>
      <integer>-120</integer>
      <key>public.kern2.g</key>
      <integer>-60</integer>
      <key>public.kern2.m</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.u</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.Valt</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.Oalt</key>
      <integer>-10</integer>
      <key>public.kern2.down</key>
      <integer>-70</integer>
      <key>public.kern2.g</key>
      <integer>-60</integer>
      <key>public.kern2.m</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>hyphen</key>
      <integer>-10</integer>
      <key>public.kern2.A</key>
      <integer>30</integer>
      <key>public.kern2.O</key>
      <integer>-60</integer>
      <key>public.kern2.T</key>
      <integer>30</integer>
      <key>public.kern2.f</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.J</key>
      <integer>-50</integer>
      <key>public.kern2.down</key>
      <integer>-80</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.down</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-120</integer>
      <key>public.kern2.Valt</key>
      <integer>-70</integer>
      <key>public.kern2.Y</key>
      <integer>-80</integer>
      <key>public.kern2.f</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.down</key>
      <integer>-40</integer>
      <key>public.kern2.g</key>
      <integer>-20</integer>
      <key>public.kern2.m</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.m</key>
    <dict>
      <key>public.kern2.Valt</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.mid</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>X</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.Valt</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.down</key>
      <integer>-40</integer>
      <key>public.kern2.f</key>
      <integer>-40</integer>
      <key>public.kern2.g</key>
      <integer>-20</integer>
      <key>public.kern2.k</key>
      <integer>-20</integer>
      <key>public.kern2.m</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.z</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.down</key>
      <integer>-90</integer>
      <key>public.kern2.f</key>
      <integer>10</integer>
      <key>public.kern2.m</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.top</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.J</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.u</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.Valt</key>
      <integer>-10</integer>
      <key>public.kern2.m</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.g</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
    </dict>
    <key>z</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-40</integer>
    </dict>
  </dict>
</plist>
